@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script>
    function hidePopup() {
        document.getElementById("divPopup").style.display = "none";
    }
</script>

<style>
    .imgSquare {
        object-fit: cover;
        width: 250px;
        height: 250px;
    }

    .popup {
        display: @ViewData["popupDisplay"];
        position: fixed;
        left: 10%;
        right: 10%;
        top: 5%;
        bottom: 5%;
        width: 80%;
        max-width: 600px;
        border: 2px solid red;
        background-color: lightgray;
        z-index: 9;
    }

    .btnClose {
        float: right;
    }
</style>

<div class="text-center">

    <hr />

    <p>
        Welcome to WIKI WARRIORS. A website all about sending wikipedia pages to
        "Fight" (Have a friendly competition) to the "Death" (Fainting, we don't condone violence)
    </p>

    <div class="divFightOfTheDay">

        <h2>Fight of the day:</h2>

        <h3>
            Daily Fight #@ViewData["dailyFightNum"]:
            @ViewData["dailyFightFighter1Name"]
            VS
            @ViewData["dailyFightFighter2Name"]
            - Winner: @ViewData["dailyFightWinnerName"]
            (@ViewData["dailyFightDate"])
        </h3>

        <div class="divRow">

            <img src="@ViewData["dailyFightFighter1ImageUrl"]"
                 class="decorationImage"
                 alt="Fighter 1"
                 style="max-width:20%" />

            <img src="~/swordLeft.png"
                 class="decorationImage"
                 alt="Sword"
                 style="max-width:20%" />

            <img src="~/swordRight.png"
                 class="decorationImage"
                 alt="Sword"
                 style="max-width:20%" />

            <img src="@ViewData["dailyFightFighter2ImageUrl"]"
                 class="decorationImage"
                 alt="Fighter 2"
                 style="max-width:20%" />
        </div>
    </div>
</div>

<div class="popup" id="divPopup">

    <button type="button"
            class="btnClose"
            onclick="hidePopup()">
        X
    </button>

    <h1 class="text-center">:::WINNER:::</h1>
    <h2 class="text-center">GAGNANT!</h2>

    <div class="divRow">

        <div class="divColumn">
            <img src="~/flame.png" class="decorationImage" alt="Cool Flames" />
            <img src="~/flame.png" class="decorationImage" alt="Cool Flames" />
        </div>

        <img src="@ViewData["winnerImageUrl"]"
             alt="winner"
             class="imgSquare" />

        <div class="divColumn">
            <img src="~/flame.png" class="decorationImage" alt="Cool Flames" />
            <img src="~/flame.png" class="decorationImage" alt="Cool Flames" />
        </div>
    </div>

    <h3 class="text-center">@ViewData["winnerName"]</h3>

    <p class="text-center">
        Won against @ViewData["loserName"]
    </p>
</div>

@if (Model.FightHistory != null && Model.FightHistory.Count > 0)
{
    <div class="globalFightsTable">
        <table>

            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.FightHistory[0].FightDate)</th>
                    <th>@Html.DisplayNameFor(m => m.FightHistory[0].Fighter1.Name)</th>
                    <th>@Html.DisplayNameFor(m => m.FightHistory[0].Fighter2.Name)</th>
                    <th>@Html.DisplayNameFor(m => m.FightHistory[0].Winner)</th>
                    <th>@Html.DisplayNameFor(m => m.FightHistory[0].DailyFight)</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.FightHistory.OrderByDescending(f => f.FightDate).Take(5))
                {
                <tr>
                    <td>@Html.DisplayFor(m => item.FightDate)</td>

                    <td><a href="@item.Fighter1.PageUrl">@Html.DisplayFor(m => item.Fighter1.Name)</a></td>

                    <td><a href="@item.Fighter2.PageUrl">@Html.DisplayFor(m => item.Fighter2.Name)</a></td>

                    <td>@Html.DisplayFor(m => item.Winner.Name)</td>

                    <td>@Html.DisplayFor(m => item.DailyFight)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}