@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="divFlexableRow">
        <div class="divRow">
            <img src="~/swordLeft.png" class="decorationImage" alt="Sword" />
            <h1>
                <a href="/">Wiki Warriors</a>
            </h1>
            <img src="~/swordRight.png" class="decorationImage" alt="Sword" />
        </div>
        <div class="divRow">
            <img src="~/flame.png" class="decorationImage" alt="Cool Flames" />
            <h2 style="color: maroon">
                <a href="/Selection">FIGHT</a>
            </h2>
            <img src="~/flame.png" class="decorationImage" alt="Cool Flames" />
        </div>
    </div>

    <hr />
    <p>Welcome to THE WIKI WARRIORS. A website all about sending wikipedia pages to "Fight" (Have a friendly competition) to the "Death" (Fainting, we don't condone violence)</p>

    <div class="divFightOfTheDay"> ***Fight of the day goes here***</div>
  

            @if(Model.FightHistory is not null)
            {
        <table class="globalFightsTable">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FightHistory[0].FightDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FightHistory[0].Fighter1.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FightHistory[0].Fighter2.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FightHistory[0].Winner)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FightHistory[0].DailyFight)
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.FightHistory)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FightDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fighter1.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fighter2.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Winner)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DailyFight)
                        </td>
                        <td>
                            @* Redirect to Wikipedia both fighters article goes below  *@
                            <a asp-page = "@item.Fighter1.PageUrl">Fighter #1 Article</a> |
                            <a asp-page = "@item.Fighter2.PageUrl">Fighter #2 Article</a> |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}